<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <%- include('../components/header') %>
        <main>
            <div class="card">
                <h2 class="mb-3"><%= title %></h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Book ID</th>
                            <th>Book Title</th>
                            <th>Author</th>
                            <th>Borrow Date</th>
                            <th>Return Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% borrowings.forEach(borrowing => { %>
                            <tr>
                                <td>#<%= borrowing.bookID %>-<%= borrowing.bookNum %></td> 
                                
                                <td><%= borrowing.book_title || '-' %></td>
                                <td><%= borrowing.book_author || '-' %></td>
                                <td><%= borrowing.borrowDate ? new Date(borrowing.borrowDate).toLocaleDateString() : '-' %></td>
                                <td><%= borrowing.returnDate ? new Date(borrowing.returnDate).toLocaleDateString() : '-' %></td>
                                <td>
                                    <% if (!borrowing.returnDate) { %> 
                                        <form action="/borrowings/return" method="POST">
                                            <input type="hidden" name="bookID" value="<%= borrowing.bookID %>">
                                            <input type="hidden" name="bookLocation" value="<%= borrowing.bookLocation %>">
                                            <input type="hidden" name="bookNum" value="<%= borrowing.bookNum %>"> 
                                            <button type="submit" class="btn btn-primary">Return</button>
                                        </form>
                                    <% }else {%>
                                        <a href="/reviews/add/<%= borrowing.bookID %>" class="btn btn-success">Review</a> 
                                    <% } %>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</body>
</html>
